body {
    background-color: beige;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;  
    text-align: center; 
}

li {
    list-style: none;
}

h1 {
    font-size: 50px;
}
h2 {
    font-size: 20px;
}